<ion-header class="header">
  <ion-toolbar class="header-toolbar" color="primary">
    <ion-title class="header-title">Новости</ion-title>
    <ion-button class="header-button favorites-button" slot="end" [routerLink]="'/favorites'" color="light">
      <ion-icon name="heart-outline" slot="start"></ion-icon>
      Избранные</ion-button>
  </ion-toolbar>
</ion-header>

<ion-item *ngIf="!isOnline" color="warning">
  <ion-label>🔴 Нет соединения</ion-label>
</ion-item>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshNews($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let news of newsList" (click)="openNewsDetail(news)">
      <img
        *ngIf="news.urlToImage"
        [src]="news.urlToImage"
        alt="Image of news"
      />
      <ion-card-header>  
        <ion-card-title>{{ news.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="published-date">
        <ion-icon name="calendar-outline" class="date-icon"></ion-icon>
        <p class="news-date">  {{ news.publishedAt | date:'dd.MM.yyyy'}}</p>
    </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
