<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
    <ion-button slot="end" [routerLink]="'/favorites'">Favorites</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let news of newsList" (click)="openNewsDetail(news)">
      <ion-thumbnail slot="start">
        <img
          *ngIf="news.urlToImage"
          [src]="news.urlToImage"
          alt="Image of news"
        />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ news.title }}</h2>
        <p>{{ news.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
