<ion-header class="header">
  <ion-toolbar class="header-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        class="header-button"
        defaultHref="/news"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Детали</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon
          class="favorite-icon"
          [name]="isFav ? 'heart' : 'heart-outline'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="news" class="news-detail">
  <div class="image-container">
    <ion-img
      *ngIf="news.urlToImage; else noPhoto"
      [src]="news.urlToImage"
      alt="image of news"
    ></ion-img>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ news.title }}</ion-card-title>
      <ion-text *ngIf="news.author" class="author">
        <ion-icon name="pencil-outline" class="author-icon"></ion-icon>
        <span> <b>Автор:</b> {{ news.author }}</span>
      </ion-text>
      <hr class="thin-line" />
    </ion-card-header>
    <ion-card-content>
      <p>{{ news.description }}</p>
      <ion-text class="source">
        <ion-icon name="globe-outline" class="source-icon"></ion-icon>
        <span><strong>Источник:</strong> {{news.source.name}}</span>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="primary" [href]="news.url" target="_blank"
    >Читать больше</ion-button
  >

  <ng-template #noPhoto>
    <ion-text color="medium">
      <p class="ion-text-center">Фото не найден</p>
    </ion-text>
  </ng-template>
</ion-content>
