<ion-header class="header">
  <ion-toolbar class="header-toolbar" color="success">
    <ion-buttons slot="start">
      <ion-back-button class="header-button" defaultHref="/news"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Избранные</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="favorites.length > 0; else emptyState">
    <ion-item *ngFor="let news of favorites" (click)="openNewsDetail(news)">
      <ion-thumbnail slot="start">
        <img
          *ngIf="news.urlToImage"
          [src]="news.urlToImage"
          alt="Image of news"
        />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ news.title }}</h2>
        <p>{{ news.publishedAt | date:'dd.MM.yyyy'}}</p>
        <!-- <p>{{ news.source.name }}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #emptyState>
    <ion-text color="medium">
      <p class="ion-text-center">Пока нет избранных</p>
    </ion-text>
  </ng-template>
</ion-content>
